.header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  padding: 0.5rem;
  background-color: #4A90E2;
}

.headerLink {
  line-height: 1rem;
}

.mainSection {
  display: grid;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 0;
    margin-bottom: 2.375rem;
  }

  .mainSection {
    display: block;
  }
}

.HeaderText {
  font-size: 30px;
  font-weight: bold;
  color: var(--white);
  text-align: center;
}

.logo {
  height: 80px;
  width: auto;
  border-radius: 15px; /* Add rounded corners */
  transition: transform 0.2s; /* Optional: Add a hover effect */
}

.logo:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}