.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdf4d4; /* Light yellow background */
  color: #333; /* Neutral text color */
}

.linksContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.linkBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: 2px solid #333; /* Black border */
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  background-color: #fff; /* White background */
  transition: transform 0.2s;
}

.linkBox img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.linkBox p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Black text */
}

.linkBox:hover {
  transform: scale(1.05);
  background-color: #f5e6b3; /* Slightly darker yellow on hover */
}